<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="fiuba.ordertracker">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<application android:allowBackup="true" android:icon="@mipmap/ic_order_tracker" android:label="@string/app_name"
    android:largeHeap="true" android:supportsRtl="true" android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />
    <activity android:name=".LauncherActivity" android:label="@string/app_name" android:theme="@style/LauncherTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".ClientListActivity"></activity>
    <activity android:name=".ClientDetailActivity"></activity>
    <activity android:name=".ProductCategoryListActivity"></activity>
    <activity android:name=".ProductListActivity"></activity>
    <activity android:name=".ProductDetailActivity"></activity>
    <activity android:name=".ClientsMapActivity" android:label="@string/title_activity_clients_map"></activity>
</application>

</manifest>